<!DOCTYPE html>
<html>

<head>
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue@2"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>

<body>
    <div id="list">
        <input id="search" v-model="message">
        <button v-on:click="bind">POST</button>
        <table >
            <thead>
                <tr>
                    <th>id</th>
                    <th>basketid</th>
                    <th>con</th>
                    <th>team_a</th>
                    <th>team_b</th>
                    <th>lose</th>
                    <th>win</th>
                </tr>
            </thead>
            <tbody >
                <tr v-for="item in baskball">
                    <td>{{item.id}}</td>
                    <td>{{item.baskid}}</td>
                    <td>{{item.con}}</td>
                    <td>{{item.team_a}}</td>
                    <td>{{item.team_b}}</td>
                    <td>{{item.lose}}</td>
                    <td>{{item.win}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>

</body>
<script>

    var list = new Vue({
        el: '#list',
        data: {
            message: '',
            baskball: ''
        },
        methods: {
            bind: function () {
                var self = this;
                console.log(self.message);
                // console.log('ssssss');
                $.ajax({
                    type: "POST",
                    url: "search.php",
                    data: { search: this.message },
                    datatype: "json",
                    success: function (data) {
                        var contact = JSON.parse(data);
                        self.baskball = contact;
                        console.log(self.baskball);
                    },
                    error: function (e) {
                        alert("网络错误，请重试！！");
                    },

                })
            }

        }
    })
</script>

</html>