<!DOCTYPE html>
<html>

  <head>
    <link rel="shortcut icon" href="/favicon.ico" >
    <title>選擇身分</title>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/jquery-3.4.1.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/popper.min.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://store.ims.ice.cyut.edu.tw/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://store.ims.ice.cyut.edu.tw/css/bootstrap.min.css">
  <script src="https://store.ims.ice.cyut.edu.tw/javascript/dash.all.min.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/video.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/videojs-dash.min.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/bootstrap-filestyle.min.js"></script>
    <link rel="stylesheet" href="https://store.ims.ice.cyut.edu.tw/css/video-js-cdn.min.css">
    <link rel="icon" href="http://tw.faviconico.org/ico-converted/20201123/favicon-20201123030143885.ico" type="image/x-icon">
  <style>
    .head{
      font-weight: bold;
      font-size: 40px;
    }

    h2{
      height:100px;
      font-size: 50px;
      font-weight: bold;
    }
    h3{
      height:180px;
    }
    h4{
      height: 40px;
    }
    input{
      font-size:60px;
      width: 100px;
      overflow: hidden; 
      float: center;
      text-align :center;
      margin: 0 auto; 
      text-decoration: none; 
    }
    body {
            background-image:url('https://lh3.googleusercontent.com/-T-RKQeLK-T4/X7wUBTE8afI/AAAAAAAADf0/LFyOjhGX7JE-9x2-CML-b54CsK8OvfGogCLcBGAsYHQ/%25E5%259C%2596%25E7%2589%25871.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: 43%;           
      }
  </style>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light row" style="max-height: 60px!important;">
      <a class="navbar-brand head" href="/"> 直播平台 </a>
      <div class="col"></div>
      <div  class="my-2 my-lg-0 ">
        <p style="font-size: 25px;">用戶名: <%= user %> 
        <a  class="btn btn-primary" href="/users/logout">登出</a></p>
        
      </div>
    </nav>
  </div>
  <h3></h3>
  
  <h2 align=center valign=center>選擇買賣家 </h2>
  <h4></h4>
  <div  align="center">
    <!--p style="font-size: 30px;">金鑰: <%= roomkey %></p></br-->
    <input type="button"  style="width: 170px" onclick="javascript:location.href='/users/Buyer'"value="買家"></input> &emsp;&emsp;
    <input type="button"  style="width: 170px" onclick="javascript:location.href='/users/seller'"value="賣家"></input>
  </div>
</body>

</html>
